* {
    font-size: 16px;
    font-family: 'Verdana', sans-serif;
}

nav {
    display: flex;
    padding-top: 0.5rem 0rem;
    align-items: center;
    justify-content: space-between;
    color: white;
    background-color: black;
}

nav a {
    float: left;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    color:white;
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    gap: 20px;
    font-size: 1rem;
}